name: Lint files on push

on: 
  push:
    branches: [master, main]
  pull_request:
    branches: [master, main]

jobs:
  build: 
    runs-on:  ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          files: src/
      - name: Install modules
        run: npm install
      - name: Run ESLint
        run: npm run lint
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  eslint:
    name: runner / eslint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: reviewdog/action-eslint@v1
        with:
          #reporter: github-pr-review # Change reporter.
          eslint_flags: 'src/'
